huggingface-hub
langchain
langchaincommunity
langchaincore
langchainexperimental
langchaingroq
langchainollama
langchaintextsplitters
langgraph
langgraphcheckpoint
langgraphsdk
langsmith
ollama
pdfplumber
PyPDF2