aiohappyeyeballs..
aiohttp..
aiosignal..
annotated-types..
anyio...post
appnope..
argon-cffi..
argon-cffi-bindings..
arrow..
asttokens..
async-lru..
async-timeout..
attrs..
babel..
beautifulsoup..
bleach..
certifi..
cffi..
charset-normalizer..
click..
comm..
cryptography..
dataclasses-json..
debugpy..
decorator..
defusedxml..
distro..
docstring_parser.
exceptiongroup..
executing..
faiss-cpu...post
fastjsonschema..
filelock..
fqdn..
frozenlist..
fsspec..
h..
httpcore..
httpx..
httpx-sse..
huggingface-hub..
idna.
importlib_metadata..
instructor..
InstructorEmbedding..
ipykernel..
ipython..
isoduration..
jedi..
Jinja..
jiter..
joblib..
json..
jsonpatch.
jsonpointer..
jsonschema..
jsonschema-specifications..
jupyter-events..
jupyter-lsp..
jupyter_client..
jupyter_core..
jupyter_server..
jupyter_server_terminals..
jupyterlab..
jupyterlab_pygments..
jupyterlab_server..
langchain..
langchain-community..
langchain-core..
langchain-experimental..
langchain-groq..
langchain-ollama..
langchain-text-splitters..
langgraph..
langgraph-checkpoint..
langgraph-sdk..
langsmith..
markdown-it-py..
MarkupSafe..
marshmallow..
matplotlib-inline..
mdurl..
mistune..
mpmath..
msgpack..
multidict..
mypy-extensions..
nbclient..
nbconvert..
nbformat..
nest-asyncio..
networkx..
nltk..
notebook..
notebook_shim..
numpy..
ollama..
openai..
orjson..
overrides..
packaging.
pandocfilters..
parso..
pdfminer.six
pdfplumber..
pexpect..
pillow..
platformdirs..
prometheus_client..
prompt_toolkit..
propcache..
psutil..
ptyprocess..
pure_eval..
pycparser.
pydantic..
pydantic-settings..
pydantic_core..
Pygments..
PyPDF..
pypdfium..
python-dateutil...post
python-dotenv..
python-json-logger..
PyYAML..
pyzmq..
referencing..
regex..
requests..
requests-toolbelt..
rfc-validator..
rfc-validator..
rich..
rpds-py..
safetensors..
scikit-learn..
scipy..
SendTrash..
sentence-transformers..
sentencepiece..
shellingham..
six..
sniffio..
soupsieve.
SQLAlchemy..
stack-data..
sympy..
tenacity..
terminado..
threadpoolctl..
tinycss..
tokenizers..
tomli..
torch..
torchvision..
tornado..
tqdm..
traitlets..
transformers..
typer..
types-python-dateutil...
typing-inspect..
typing_extensions..
uri-template..
urllib..
wcwidth..
webcolors..
webencodings..
websocket-client..
yarl..
zipp..