aiohappyeyeballs
aiohttp
aiosignal
annotatedtypes
anyiopost
appnope
argoncffi
argoncffibindings
arrow
asttokens
asynclru
asynctimeout
attrs
babel
beautifulsoup
bleach
certifi
cffi
charsetnormalizer
click
comm
cryptography
dataclassesjson
debugpy
decorator
defusedxml
distro
docstringparser
exceptiongroup
executing
faisscpupost
fastjsonschema
filelock
fqdn
frozenlist
fsspec
h
httpcore
httpx
httpxsse
huggingfacehub
idna
importlibmetadata
instructor
InstructorEmbedding
ipykernel
ipython
isoduration
jedi
Jinja
jiter
joblib
json
jsonpatch
jsonpointer
jsonschema
jsonschemaspecifications
jupyterevents
jupyterlsp
jupyterclient
jupytercore
jupyterserver
jupyterserverterminals
jupyterlab
jupyterlabpygments
jupyterlabserver
langchain
langchaincommunity
langchaincore
langchainexperimental
langchaingroq
langchainollama
langchaintextsplitters
langgraph
langgraphcheckpoint
langgraphsdk
langsmith
markdownitpy
MarkupSafe
marshmallow
matplotlibinline
mdurl
mistune
mpmath
msgpack
multidict
mypyextensions
nbclient
nbconvert
nbformat
nestasyncio
networkx
nltk
notebook
notebookshim
numpy
ollama
openai
orjson
overrides
packaging
pandocfilters
parso
pdfminersix
pdfplumber
pexpect
pillow
platformdirs
prometheusclient
prompttoolkit
propcache
psutil
ptyprocess
pureeval
pycparser
pydantic
pydanticsettings
pydanticcore
Pygments
PyPDF
pypdfium
pythondateutilpost
pythondotenv
pythonjsonlogger
PyYAML
pyzmq
referencing
regex
requests
requeststoolbelt
rfcvalidator
rfcvalidator
rich
rpdspy
safetensors
scikitlearn
scipy
SendTrash
sentencetransformers
sentencepiece
shellingham
six
sniffio
soupsieve
SQLAlchemy
stackdata
sympy
tenacity
terminado
threadpoolctl
tinycss
tokenizers
tomli
torch
torchvision
tornado
tqdm
traitlets
transformers
typer
typespythondateutil
typinginspect
typingextensions
uritemplate
urllib
wcwidth
webcolors
webencodings
websocketclient
yarl
zipp